<h1>My Bookings List</h1>

<% @current_user.bookings.each do |booking| %>
  <div class="booking-card">
    <ul>
      <li>
        The booking number: <%= booking.id %> with <%= booking.pal.name %>
        Start Date: <%= booking.start_date %>
        End Date: <%= booking.end_date %>
        <%= link_to "View Details", booking_path(booking), class: "btn btn-primary" %>
      </li>
    </ul>
  </div>
<% end %>
