
<h1>Hangout with <%= @pal.name %></h1>
<div class="booking-container mt-0">
  <div class="image-box">
    <div class="image-card">
        <h1>
         <%= cl_image_tag @pal.photo.key, crop: :fill , class: "card-image"%>
         </h1>
          <br>
          <h1>
          <%= @pal.name %>
          <br>
          <% @pal.rating.times do %>
            <span class="fa-solid fa-star" style="color: rgba(0, 0, 255, 1);"></span>
          <% end %>
          <% (5 - @pal.rating).times do %>
            <span class="d-none">☆</span>
          <% end %>
        </h1>
        <br>
        <h3>
          <%= @pal.intro %>
        </h3>
    </div>
    </div>
    <div class="intra-booking-container mt-0">
      <div>
        <div class="calendar-booking">
        <h2>When are you free?</h2>
          <%= simple_form_for [@pal, @booking], html: { class: 'form' } do |f| %>

            <%= f.input :start_date, html5: true, input_html: { min: Date.today.strftime('%Y-%m-%d') } %>

            <%= f.input :end_date, html5: true, input_html: { min: Date.today.strftime('%Y-%m-%d') } %>
            <div class="form-group">
              <%= f.input :comments, input_html: { class: 'form-control' } %>
            </div>
            <%# <div class="btn"> %>
              <%= f.button :submit, 'Create Booking' %>
            <%# </div> %>
          <% end %>
        </div>

        <div class="new-booking-info">
            <%# <p><strong>Hi! I'm</strong><br><h2> <%= @pal.name %></h2></p>
            <p><strong>I'm here:</strong><br><h2> <%= @pal.location %></h2></p>
            <p><strong>My price/hr:</strong><br><h2> £<%= @pal.price %></h2></p>
            <%# <p><strong>My rating:</strong><br><h2><%= @pal.rating %></h2></p>
            <%# <div class="button-container"></div> %>
        </div>
    </div>
  </div>
</div>
