<h2>Hangout with <%= @pal.name %></h2>
<div class="container">
    <div class="card-1">
        <h1>
         <%= cl_image_tag @pal.photo.key, crop: :fill , class: "card-image"%>
          <%= @pal.name %>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
        </h1>
    </div>
    <div class="card-2">
        <p><strong>Name:</strong> <%= @pal.name %></p>
        <p><strong>Location:</strong> <%= @pal.location %></p>
        <p><strong>Price:</strong> £<%= @pal.price %></p>
        <p><strong>Rating:</strong> <%= @pal.rating %></p>
        <div class="button-container">
      </div>
       <div class="row">
      <%= simple_form_for [@pal, @booking], html: { class: 'form' } do |f| %>
        <div class="form-group">
          <%= f.input :start_date, html5: true, input_html: { class: 'form-control' } %>
        </div>
        <div class=“form-group”>
          <%= f.input :end_date, html5: true, input_html: { class: 'form-control' } %>
        </div>
        <div class=“form-group”>
          <%= f.input :comments, input_html: { class: 'form-control' } %>
        </div>
        <%= f.button :submit, 'Create Bookings', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  </div>

</div>
