<h2>Create your booking with <%= @pal.name %></h2>
<div class="container">
    <div class="card-1">
        <h1>
         <div class="card-image"><img src="https://thispersondoesnotexist.com/" alt="Person Image" class="pal-name"></div>
          <%= @pal.name %>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
        </h1>
    </div>
    </div>
    <div class="container">
    <div class="card-2">
        <p><strong>Pal's name:</strong> <%= @pal.name %></p>
        <p><strong>Pal's location:</strong> <%= @pal.location %></p>
        <p><strong>Pal's price:</strong> £<%= @pal.price %></p>
        <p><strong>Pal's rating:</strong> <%= @pal.rating %></p>
        <div class="button-container">
      </div>
    </div>
      <div class="card-3">
      <%= simple_form_for [@pal, @booking], html: { class: 'form' } do |f| %>
        <div class="form-group">
          <%= f.input :start_date, html5: true, input_html: { class: 'form-control' } %>
        </div>
        <div class=“form-group”>
          <%= f.input :end_date, html5: true, input_html: { class: 'form-control' } %>
        </div>
        <div class=“form-group”>
          <%= f.input :comments, input_html: { class: 'form-control' } %>
        </div>
        <%= f.button :submit, 'Create Bookings', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
