<div class="container">

  <h1>Booking Details</h1>

    <div class="card-bookings">
      <p class="card-text"><strong>The booking with:</strong> <%= @booking.pal.name %></p>
      <p class="card-text"><strong>Start Date:</strong> <%= @booking.start_date %></p>
      <p class="card-text"><strong>End Date:</strong> <%= @booking.end_date %></p>
      <p class="card-text"><strong>Comments:</strong> <%= @booking.comments %></p>
      <br>
      <%= link_to "Delete", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
