

<div class="index_container" data-controller="insert-map-in-index">
  <div class="header">
    <h1>My Added Pals</h1>
  </div>
    <div class="cards_wrapper" data-insert-map-in-index-target="peopleIndex">
      <% @my_pals.each do |pal| %>
        <%= link_to new_pal_booking_path(pal), class: "pal_card myDIV" do %>
          <%= cl_image_tag pal.photo.key, crop: :fill %>
          <div class="pal_info">
            <div class="trait">
              <h6>Name:</h6>
              <h6><%= pal.name %></h6>
            </div>
            <div class="trait">
              <h6>Job:</h6>
              <h6><%= pal.job %></h6>
            </div>
            <div class="trait">
              <h6>Fav emoji:</h6>
              <h6><%= pal.emoji %></h6>
            </div>
            <div class="trait">
              <h6>In a word:</h6>
              <h6><%= pal.word %></h6>
            </div>
          </div>
          <div class="hide-me">Hang with me!</div>
          <div class="stars">
            <% pal.rating.times do %>
              <h3><i class="fa-solid fa-star" style="color: #ffd000;"></i></h3>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
