<h1>Rent out your own pal!</h1>
<div class="container p-5">
  <%= simple_form_for(@pal) do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name %>
      <%= f.input :emoji %>
    </div>
    <div class="col">
      <%= f.input :location %>
      <%= f.input :word %>
    </div>
    <div class="col">
      <%= f.input :job %>
      <%= f.input :price %>
    </div>
      <%= f.input :intro %>
    <div class="col">
      <%= f.input :photo, as: :file %>
      <div class="mt-4"><%= f.submit %></div>
    </div>
    <% end %>
</div>
