<div class="container">
<h1>Add a New Pal</h1>
  <%= simple_form_for(@pal) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
