<div class="container">
    <div class="card-1">

        <h1>
         <div class="card-image"><%= cl_image_tag @pal.photo.key, height: 300, width: 400, crop: :fill %></div>
          <%= @pal.name %>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
          <i class="fa-solid fa-star" style="color: rgba(255, 199, 0, 1);"></i>
        </h1>
    </div>

    <div class="card-2">
        <p><strong>Pal's name:</strong> <%= @pal.name %></p>
        <p><strong>Pal's location:</strong> <%= @pal.location %></p>
        <p><strong>Pal's price/day:</strong> £<%= @pal.price %></p>
        <p><strong>Pal's rating:</strong> <%= @pal.rating %></p>
        <div class="button-container">
        <%= link_to "Book this pal", new_pal_booking_path(@pal), class: 'btn btn-primary btn-small' %>
      </div>
    </div>
</div>
