<div class="container mt-4">
  <%= link_to "Return to all pals", pals_path %>

  <h1><%= @pal.name %> Profile Information</h1>

  <div class="mt-4">
    <p><strong>Pal's name:</strong> <%= @pal.name %></p>
    <p><strong>Pal's location:</strong> <%= @pal.location %></p>
    <p><strong>Pal's price:</strong> £<%= @pal.price %></p>
    <p><strong>Pal's rating:</strong> <%= @pal.rating %></p>
  </div>

  <%= link_to "Book this pal", new_pal_booking_path(@pal), class: 'btn btn-success mt-4' %>
</div>
